# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
